<!DOCTYPE html>
<html>

<head>
	<title>Sparklet | Web DAW Experiment</title>
	<%- include(viewsFolder + "/parts/sparkhead") %>
</head>

<body>
	<canvas id="mainCanvas" width="1920" height="1080"></canvas>
</body>

</html>
